@import "tailwindcss";

@font-face {
  font-family: "Plafair_Display";
  src: url("./font/Plafair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("./font/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

@theme {
  --color-old-rose-50: #f9ecf0;
  --color-old-rose-100: #f3d8e2;
  --color-old-rose-200: #e7b1c4;
  --color-old-rose-300: #da8ba7;
  --color-old-rose-400: #ce6489;
  --color-old-rose-500: #c23d6c;
  --color-old-rose-600: #9b3156;
  --color-old-rose-700: #742541;
  --color-old-rose-800: #4e182b;
  --color-old-rose-900: #270c16;
  --color-old-rose-950: #1b090f;

  /* font */
  --font-special : "Plafair_Display";
}

@layer components{
  .flex-center{
    @apply flex flex-col items-center
  }
}

body {
  margin: 0;
  background-color: #f9ecf0;
  font-family: "Inter";
}
